---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const paths = await getStaticPathsBlogList({ paginate });
  return paths.length ? paths : [{ params: { tag: 'default' } }];
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page = {}, tag = '' } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: tag ? `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}` : '',
  robots: {
    index: blogListRobots?.index,
    follow: blogListRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    {tag && <Headline>Tag: {tag}</Headline>}
    {page.data && <BlogList posts={page.data} />}
    {page.url && <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />}
  </section>
</Layout>